@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: '微软雅黑'; }

ul, ol, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

a, u {
  text-decoration: none; }

input, fieldset, textarea {
  outline: none;
  border: none; }

header {
  height: 196px; }
  header .top1 {
    width: 100%;
    height: 85px; }
    header .top1 img {
      width: 100%;
      height: 100%; }
  header .nav1 {
    height: 37px;
    background: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 78px;
    font-size: 12px;
    color: #ccc; }
    header .nav1 article {
      height: 100%;
      cursor: pointer;
      line-height: 37px;
      width: 142px; }
      header .nav1 article aside {
        float: left;
        margin-right: 24px; }
        header .nav1 article aside a {
          color: #ccc; }
          header .nav1 article aside a:active {
            color: #fff; }
          header .nav1 article aside a:visited {
            color: #ccc; }
      header .nav1 article .iconfont {
        float: left; }
    header .nav1 .unav1 li {
      float: left; }
      header .nav1 .unav1 li a {
        padding: 0 12px;
        color: #ccc; }
        header .nav1 .unav1 li a .iconfont {
          font-size: 12px; }
        header .nav1 .unav1 li a:visited {
          color: #ccc; }
        header .nav1 .unav1 li a:active {
          color: #fff; }
    header .nav1 .unav1 .register a:hover {
      color: #00aaa6; }
    header .nav1 .unav1 .login a:hover {
      color: #00aaa6; }
  header nav {
    height: 74px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 92px 0 74px;
    color: #333;
    position: relative; }
    header nav article {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: start; }
      header nav article a {
        width: 152px;
        height: 43px; }
        header nav article a img {
          width: 100%;
          height: 100%; }
      header nav article .unav2 {
        height: 74px; }
        header nav article .unav2 li {
          height: 74px;
          line-height: 74px;
          float: left; }
        header nav article .unav2 .aunav2 {
          padding: 0 18px; }
          header nav article .unav2 .aunav2:visited {
            color: #1e1e1e; }
          header nav article .unav2 .aunav2:hover {
            color: #009DA1; }
        header nav article .unav2 input {
          position: absolute;
          width: 26px;
          height: 16px;
          background: #F26522;
          color: #fff;
          font-size: 10px;
          text-align: center;
          top: 10px;
          left: 360px; }
        header nav article .unav2 .tv .TV {
          overflow: hidden;
          width: 100%;
          height: 288px;
          position: absolute;
          top: 74px;
          left: 0px;
          background: #f7f7f7;
          display: none;
          z-index: 5; }
          header nav article .unav2 .tv .TV section:first-child {
            width: 756px;
            height: 288px;
            float: left; }
            header nav article .unav2 .tv .TV section:first-child article {
              margin-top: 26px;
              width: 104px;
              height: 44px;
              float: left;
              margin-left: 82px;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              header nav article .unav2 .tv .TV section:first-child article aside {
                width: 44px;
                height: 100%; }
                header nav article .unav2 .tv .TV section:first-child article aside img {
                  width: 100%;
                  height: 100%; }
              header nav article .unav2 .tv .TV section:first-child article span {
                font-size: 16px; }
                header nav article .unav2 .tv .TV section:first-child article span a {
                  color: #333; }
                  header nav article .unav2 .tv .TV section:first-child article span a:hover {
                    color: #009DA1; }
            header nav article .unav2 .tv .TV section:first-child .last-article {
              margin-left: 90px;
              justify-content: start; }
          header nav article .unav2 .tv .TV section:last-child {
            margin-right: 104px;
            width: 372px;
            height: 230px;
            float: right;
            margin-top: 9px; }
            header nav article .unav2 .tv .TV section:last-child dl {
              width: 180px;
              height: 130px;
              margin-left: 4px;
              margin-top: 4px;
              background: #fff;
              float: left;
              text-align: center; }
              header nav article .unav2 .tv .TV section:last-child dl dt {
                width: 80px;
                height: 80px;
                margin: auto; }
                header nav article .unav2 .tv .TV section:last-child dl dt img {
                  margin-top: 6px;
                  width: 100%;
                  height: 100%; }
              header nav article .unav2 .tv .TV section:last-child dl dd:nth-child(2) {
                font-size: 14px; }
                header nav article .unav2 .tv .TV section:last-child dl dd:nth-child(2) a {
                  color: #333; }
                  header nav article .unav2 .tv .TV section:last-child dl dd:nth-child(2) a:hover {
                    color: #009DA1; }
              header nav article .unav2 .tv .TV section:last-child dl dd:last-child {
                font-size: 16px;
                margin-top: 6px;
                font-weight: 600; }
                header nav article .unav2 .tv .TV section:last-child dl dd:last-child a {
                  color: #ff143e; }
        header nav article .unav2 .tv:hover .TV {
          display: block; }
    header nav .iconfont {
      font-size: 25px;
      font-weight: 600;
      cursor: pointer; }

main {
  height: 717px;
  display: flex;
  justify-content: center; }
  main .center {
    height: 692px;
    margin-bottom: 25px;
    width: 1188px; }
    main .center aside:first-child {
      width: 550px;
      height: 652px;
      float: left; }
      main .center aside:first-child section:first-child {
        width: 550px;
        height: 550px; }
        main .center aside:first-child section:first-child #small {
          width: 550px;
          height: 550px;
          position: absolute; }
          main .center aside:first-child section:first-child #small img {
            width: 100%;
            height: 100%; }
          main .center aside:first-child section:first-child #small #mark {
            width: 273px;
            height: 273px;
            opacity: 0.6;
            filter: opacity=60;
            position: absolute;
            left: 0px;
            top: 0px;
            border: 1px solid #ddd;
            background: #f5f5f5;
            cursor: move; }
        main .center aside:first-child section:first-child #big {
          width: 550px;
          height: 550px;
          position: absolute;
          left: 50%;
          top: 188px;
          z-index: 10;
          border: 1px solid #ddd;
          background: #f5f5f5;
          overflow: hidden; }
          main .center aside:first-child section:first-child #big img {
            width: 1100px;
            height: 1100px;
            position: absolute; }
      main .center aside:first-child section:last-child {
        width: 480px;
        height: 88px;
        margin: 14px auto;
        position: relative; }
        main .center aside:first-child section:last-child .img1 {
          width: 480px;
          height: 88px; }
          main .center aside:first-child section:last-child .img1 .imgBox {
            width: 480px;
            height: 88px;
            margin-left: -10px; }
            main .center aside:first-child section:last-child .img1 .imgBox li {
              width: 86px;
              height: 86px;
              border: 1px solid #999;
              float: left;
              margin-left: 10px; }
              main .center aside:first-child section:last-child .img1 .imgBox li img {
                width: 86px;
                height: 86px; }
            main .center aside:first-child section:last-child .img1 .imgBox li:first-child {
              margin-left: 0; }
        main .center aside:first-child section:last-child .leftRightTabs a {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 32%;
          text-align: center; }
          main .center aside:first-child section:last-child .leftRightTabs a .iconfont {
            font-size: 18px;
            font-weight: 600;
            line-height: 30px; }
        main .center aside:first-child section:last-child .leftRightTabs a:first-child {
          left: -40px; }
        main .center aside:first-child section:last-child .leftRightTabs a:last-child {
          left: 470px; }
    main .center aside:last-child {
      float: right;
      width: 600px;
      height: 652px; }
      main .center aside:last-child section:nth-child(1) {
        width: 600px;
        height: 196px;
        padding-top: 26px;
        margin-bottom: 16px; }
        main .center aside:last-child section:nth-child(1) h1 {
          padding-top: 40px;
          margin-bottom: 12px;
          font-size: 24px;
          color: #262626; }
        main .center aside:last-child section:nth-child(1) h3 {
          font-size: 14px;
          line-height: 22px;
          color: #646464; }
        main .center aside:last-child section:nth-child(1) p {
          font-size: 14px;
          line-height: 22px;
          color: #646464; }
          main .center aside:last-child section:nth-child(1) p a {
            color: #d9161c; }
      main .center aside:last-child section:nth-child(2) {
        width: 568px;
        height: 80px;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f7f7f7; }
        main .center aside:last-child section:nth-child(2) article {
          height: 80px;
          width: 90px; }
          main .center aside:last-child section:nth-child(2) article span {
            font-size: 12px;
            color: #646464;
            line-height: 80px; }
        main .center aside:last-child section:nth-child(2) article:first-child {
          width: 200px; }
          main .center aside:last-child section:nth-child(2) article:first-child span:first-child {
            font-size: 36px;
            color: #d9161c; }
        main .center aside:last-child section:nth-child(2) article:last-child .iconfont {
          font-size: 18px;
          margin-right: 4px;
          color: #d9161c; }
      main .center aside:last-child section:nth-child(3) {
        width: 584px;
        height: 54px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        line-height: 54px;
        border-bottom: 1px solid #999; }
        main .center aside:last-child section:nth-child(3) span {
          width: 56px;
          margin-right: 22px;
          font-size: 14px;
          color: #646464;
          float: left; }
        main .center aside:last-child section:nth-child(3) article {
          width: 506px;
          height: 54px;
          float: left; }
          main .center aside:last-child section:nth-child(3) article .promise {
            width: 83px;
            cursor: pointer;
            height: 54px;
            line-height: 54px;
            padding: 0;
            margin-bottom: 0;
            margin-right: 22px;
            float: left; }
            main .center aside:last-child section:nth-child(3) article .promise img {
              width: 22px;
              height: 22px; }
            main .center aside:last-child section:nth-child(3) article .promise span {
              font-size: 13px;
              margin: 0; }
          main .center aside:last-child section:nth-child(3) article .p1 {
            margin-right: 0; }
        main .center aside:last-child section:nth-child(3) .iconfont {
          font-size: 16px;
          color: #646464;
          float: right;
          width: 16px; }
      main .center aside:last-child section:nth-child(4) {
        width: 584px;
        padding: 16px 16px 16px 0;
        height: 44px;
        margin-top: 16px;
        margin-bottom: 16px;
        background: #f7f7f7;
        display: flex;
        flex-direction: column; }
        main .center aside:last-child section:nth-child(4) .site {
          width: 220px;
          height: 44px; }
          main .center aside:last-child section:nth-child(4) .site div {
            float: left;
            width: 44px;
            height: 28px;
            text-align: center; }
            main .center aside:last-child section:nth-child(4) .site div .iconfont {
              font-size: 16px; }
          main .center aside:last-child section:nth-child(4) .site span {
            font-size: 14px;
            color: #1e1e1e;
            font-weight: 600;
            cursor: pointer;
            float: left; }
          main .center aside:last-child section:nth-child(4) .site span:last-child {
            color: #00aaa6;
            font-weight: normal; }
        main .center aside:last-child section:nth-child(4) p {
          margin-left: 44px;
          color: #777;
          font-size: 14px; }
      main .center aside:last-child section:last-child {
        height: 162px;
        margin-top: 10px; }
        main .center aside:last-child section:last-child p {
          font-size: 14px;
          color: #646464;
          line-height: 25px;
          padding-top: 10px;
          margin-bottom: 10px; }
        main .center aside:last-child section:last-child article:nth-child(2) div {
          width: 34px;
          height: 38px;
          color: #CCC;
          border: 1px solid #ddd;
          float: left;
          text-align: center;
          line-height: 38px;
          margin-bottom: 18px; }
        main .center aside:last-child section:last-child article:nth-child(2) div:nth-child(2) {
          width: 44px;
          height: 38px;
          padding-left: 10px;
          padding-right: -10px;
          color: #262626;
          font-size: 16px; }
        main .center aside:last-child section:last-child article:nth-child(3) {
          margin-top: 65px;
          height: 72px;
          padding: 16px 0;
          width: 370px; }
          main .center aside:last-child section:last-child article:nth-child(3) div {
            width: 180px;
            height: 40px;
            margin-right: 5px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            float: left; }
          main .center aside:last-child section:last-child article:nth-child(3) div:first-child {
            background-color: #d9161c; }
          main .center aside:last-child section:last-child article:nth-child(3) div:last-child {
            background-color: #262626; }

.content {
  padding-top: 50px;
  background: #F7F7F7;
  border-bottom: 60px solid #F7F7F7; }
  .content .scenter {
    width: 1166px;
    margin: 0 auto;
    background: #fff; }
    .content .scenter .button {
      width: 1188px;
      height: 64px; }
      .content .scenter .button ul {
        width: 378px;
        height: 64px;
        line-height: 64px; }
        .content .scenter .button ul li {
          float: left;
          cursor: pointer; }
          .content .scenter .button ul li a {
            color: #aaa;
            padding: 0 16px;
            font-size: 16px; }
        .content .scenter .button ul .active a {
          color: #1e1e1e; }
    .content .scenter .center11 {
      display: none; }
    .content .scenter .center1 {
      width: 1188px;
      padding-bottom: 32px; }
      .content .scenter .center1 img {
        display: block;
        margin: 0 auto; }
    .content .scenter .center2 {
      width: 1188px;
      height: 800px;
      padding-bottom: 32px; }
      .content .scenter .center2 div {
        margin: 300px auto;
        width: 160px; }
        .content .scenter .center2 div img {
          width: 160px;
          height: 160px;
          margin: 0 auto;
          margin-bottom: 16px; }
        .content .scenter .center2 div p {
          font-size: 14px;
          color: #777;
          text-align: center; }
    .content .scenter .center3 {
      width: 1188px;
      height: 1552px;
      padding-bottom: 32px; }
      .content .scenter .center3 article {
        margin: 0 auto;
        width: 1148px;
        height: 1512px;
        padding: 20px; }
        .content .scenter .center3 article .hint {
          padding-left: 60px;
          padding-right: 60px;
          height: 129px;
          border-bottom: 1px solid #999;
          font-size: 16px;
          color: #1e1e1e;
          line-height: 28px; }
          .content .scenter .center3 article .hint span {
            font-weight: 900; }
        .content .scenter .center3 article .message {
          padding: 36px 60px; }
          .content .scenter .center3 article .message h3 {
            width: 290px;
            padding-right: 40px;
            font-size: 24px;
            color: #1e1e1e;
            float: left; }
          .content .scenter .center3 article .message section {
            float: left;
            font-size: 18px;
            line-height: 36px; }
    .content .scenter .center4 {
      width: 1188px;
      padding-bottom: 32px; }
      .content .scenter .center4 img {
        display: block;
        margin: 0 auto; }

.bottom {
  width: 100%;
  height: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff; }
  .bottom article:first-child {
    width: 1188px;
    height: 136px;
    display: flex;
    padding-top: 34px;
    justify-content: center; }
    .bottom article:first-child aside {
      width: 297px;
      height: 106px; }
      .bottom article:first-child aside img {
        width: 100%;
        height: 100%; }
  .bottom article:nth-child(2) {
    width: 1188px;
    height: 196px;
    display: flex; }
    .bottom article:nth-child(2) aside {
      width: 160px; }
      .bottom article:nth-child(2) aside h6 {
        margin-top: 5px;
        color: #262626;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 6px; }
      .bottom article:nth-child(2) aside ul li {
        width: 160px; }
        .bottom article:nth-child(2) aside ul li a {
          font-size: 14px;
          color: #777;
          line-height: 26px; }
        .bottom article:nth-child(2) aside ul li:hover a {
          color: #0277bd; }
    .bottom article:nth-child(2) aside:last-child {
      flex: 1;
      text-align: center; }
      .bottom article:nth-child(2) aside:last-child h3 {
        line-height: 32px;
        color: #00aaa6;
        font-size: 24px; }
      .bottom article:nth-child(2) aside:last-child p {
        color: #777;
        font-size: 14px;
        line-height: 18px; }
      .bottom article:nth-child(2) aside:last-child div {
        height: 116px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 7px; }
        .bottom article:nth-child(2) aside:last-child div img {
          width: 100px;
          height: 102px; }

footer {
  display: flex;
  justify-content: center;
  height: 60px;
  background: #1e1e1e; }
  footer article {
    width: 1188px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer article aside:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 428px; }
      footer article aside:first-child img {
        width: 140px;
        height: 50px; }
      footer article aside:first-child div:last-child {
        display: flex;
        height: 40px;
        flex-direction: column;
        align-items: space-between; }
        footer article aside:first-child div:last-child p {
          font-size: 14px;
          color: #aaa;
          line-height: 18px; }
          footer article aside:first-child div:last-child p:hover {
            color: #0277bd; }
    footer article aside:last-child {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between; }
      footer article aside:last-child p {
        font-size: 14px;
        color: #aaa;
        line-height: 18px; }
